<footer>
    <div class="f-info">
        <div class="f-info-socails">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-cname"> &copy;&nbsp;2025 Rentora Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;
            <a href="/terms">Terms & conditions</a>
        </div>
    </div>
</footer>