<% layout("/layouts/boilerplate") -%>

    <!-- <title>Airbnb replica - project 1</title> -->

    <body>
        <h3>All Listings..</h3>
        <!-- <form action="/listings/new" method="get"> 
        <button>Create New Listing</button>
    </form> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for (let list of allListings) { %>
                <a href="/listings/<%= list._id %>" class="list-link">
                    <div class="card col list-card">
                        <img src="<%= list.img.url %>" class="card-img-top" alt="listing-img" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= list.title %>
                                </b> <br>
                                &#8377 <%= (list.price|| 0).toLocaleString("en-IN") %> /night
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </body>